

    <div class="logo">
            <a href="index.html"><img src="./img/imgProducto/logo2.png" alt="3Deseos"></a>
    </div>
    <nav>
       <ul class="nav-links">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="biblioteca.html">Biblioteca</a></li>
            <li><a href="calculadora.html">Calculadora de costos</a></li>
       </ul>            
    </nav>
    <a class="btn" id="btn-contact" href="contacto.html"><button>Contacto</button></a>
    <!---->        <a class="menu" href="#" id="nav-menu-open"><button>Menu</button></a>    
    <!---->        <div id="mobile-menu" class="overlay">
        <!---->            <a href="#" class="close" id="nav-menu-close">&times;</a>
        <!---->            <div class="overlay-content">
            <!---->                <a href="index.html">Inicio</a>
            <!---->                <a href="biblioteca.html">Biblioteca</a>
            <!---->                <a href="calculadora.html">Calculadora de costos</a>
            <!---->                <a href="contacto.html">Contacto</a>
            <!---->            </div>
            <!---->        </div>
            
